.footer-section {
  background-color: #2e2f42;
  padding-top: 98px;
  padding-bottom: 96px;
}
.footer-container {
  text-align: center;
}
.footer-info {
  text-align: center;
  align-items: center;
}
.social-list {
  align-items: center;
  text-align: center;
}
.footer-form {
  text-align: center;
}
.footer-logo {
  color: #4d5ae5;
}
.footer-list {
  text-transform: uppercase;
  font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16; 
letter-spacing: 0.03em;
}
.social-text {
  color: #fff;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  align-items: baseline;
  font-family: Roboto;
  font-weight: 500;
  margin-top: 72px;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin-top: 18px;
  text-align: left;
}
.socialitem {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  align-items: center;
}
.socialicon {
  display: flex;
  gap: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.socialitemlink {
  display: flex;
  width: 40px;
  height: 40px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialitemlink:hover,
.socialitemlink:focus {
  background-color: #31d0aa;
}
.social-svg {
  fill: #f4f4fd;
}
.footer-form-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  padding-left: 16px;
  padding-bottom: 8px;
margin-bottom: 24px;
}
.footer-form-input::placeholder {
  color: #ffffff;}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  
  margin-bottom: 16px;}
.footer-form-label {
  gap: 24px;
}
.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  gap: 16px;
   margin-left: auto;
  margin-right: auto;
  
}
.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}
.footer-form-list {
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 584px;
    gap: 72px 24px;
    align-items: baseline;
    margin: 0 auto;
  }
  .footer-info {
    align-items: baseline;
    text-align: left;
    min-width: 264px;
  }
  .footer-list {
   
    
  }
  .footer-text {
    color: #f4f4fd;
    font-size: 16px;
        font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    
    margin-top: 18px;
    margin-bottom: unset;
  }
  .footer-logo {
    color: #4d5ae5;
  }
  .social-text {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    align-items: baseline;
    text-align: left;
    margin-top: unset;
  }
  .socialicon {
    display: flex;
    gap: 16px;
  }
  .socialitem {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialitemlink {
    display: flex;
    width: 40px;
    height: 40px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialitemlink:hover,
  .socialitemlink:focus {
    background-color: #31d0aa;
  }
  .social-svg {
    fill: #f4f4fd;
  }
   .footer-form-list {
    display: flex;
    gap: 24px;
  }
  .footer-form-text { 
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: left;
  }
   .footer-form-input { 
  display: inline-block;
min-width: 264px;
height: 40px;
gap: 24px;
padding-left: 16px;
font-size: 12px;
border: 1px solid #FFF;
opacity: 0.3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-bottom: unset;} 
}

@media screen and (min-width: 1158px) {
 
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  margin: 0 auto;
flex-direction: unset;
flex-wrap: unset;
max-width: unset;
gap: unset;
}
.footer-info {
  margin-right: 120px;}

  .social-list-footer {
    margin-right: 80px; 
  }
.social-text {
  margin-top: unset;
}
.socialitemlink {
  display: flex;
  width: 40px;
  height: 40px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialitemlink:hover,
.socialitemlink:focus {
  background-color: #31d0aa;
}
.social-svg {
  fill: #f4f4fd;
}

.footer-form-text {
 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form-list {
  display: flex;
  gap: 24px; 
}
.footer-form-label {
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px; 
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px; 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px; 
  color: #ffffff; 
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px; 
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px; 
}
.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}

}
